[submodule "cs6340-lab0"]
	path = cs6340-lab0
	url = ../cs6340-lab0.git
[submodule "cs6340-lab1"]
	path = cs6340-lab1
	url = ../cs6340-lab1.git
[submodule "cs6340-lab2"]
	path = cs6340-lab2
	url = ../cs6340-lab2.git
[submodule "cs6340-lab3"]
	path = cs6340-lab3
	url = ../cs6340-lab3.git
[submodule "cs6340-lab4"]
	path = cs6340-lab4
	url = ../cs6340-lab4.git
[submodule "cs6340-lab5"]
	path = cs6340-lab5
	url = ../cs6340-lab5.git
[submodule "cs6340-lab6"]
	path = cs6340-lab6
	url = ../cs6340-lab6.git
[submodule "cs6340-lab7"]
	path = cs6340-lab7
	url = ../cs6340-lab7.git
